
@{
    ViewData["Title"] = "Trang chủ";
}
<div class="slider-container">

    <div class="slider">
        <div class="slides">
            <div class="slide"><img src="~/img/BannerDienThoai.jpg" asp-append-version="true"></div>
            <div class="slide"><img src="~/img/BannerMayTinh.jpg" asp-append-version="true"></div>
            <div class="slide"><img src="~/img/BannerMayGiat.jpg" asp-append-version="true"></div>
            <div class="slide"><img src="~/img/BannerTulanh.jpg" asp-append-version="true"></div>
        </div>   
    </div>

    <div class="side-images">
        <img src="~/Img/ImgBigsale.jpg" class="side-img" asp-append-version="true" />
        <img src="~/Img/ImgMayTinh.jpg" class="side-img" asp-append-version="true" />
    </div>
</div>
@* _____________________________________________________________________________________________________________ *@
@model List<Category>
<div class="muc-luc">
    @foreach (var cate in Model)
    {
        <a asp-controller="Home"
           asp-action="MucLucSanPham"
           asp-route-categoryID="@cate.CategoryID"
           class="muc-luc-item">

            <p class="muc-luc-title">@cate.CategoryName</p>

        </a>
    }
</div>
@* _____________________________________________________________________________________________________________ *@
<h2 class="product-title">Sản phẩm mới nhất</h2>

<div class="product-grid">
    @foreach (var p in ViewBag.Products)
    {
        <div class="product-card">

            <img src="~/Img/@p.ImageUrl" class="product-img" asp-append-version="true" />

            <h3 class="product-name">@p.ProductName</h3>

            <p class="product-info">@p.Description</p>
            <p class="product-info">Màu: @p.Color</p>
            <p class="product-info">Kích thước: @p.Size</p>
            <p class="product-price">@p.Price.ToString("N0") VND</p>

            <button class="btn-buy">Mua ngay</button>
        </div>
    }
</div>