
@{
    ViewData["Title"] = "TimSanPhamTheoMucLuc";
}
<style>
.product-list {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.product-name {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    color: black;
}
.product-image img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.product-info {
    flex: 1;
    padding: 0 40px;
    font-size: 16px;
}

.product-info h3 {
    margin-bottom: 10px;
}

.price {
    color: red;
    font-size: 20px;
    margin-top: 10px;
}

.product-buy {
    display: flex;
    align-items: center;
}

.btn-buy {
    background: #ff6600;
    padding: 12px 22px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn-buy:hover {
    background: #ff4400;
}
</style>
@model List<Product>

<h1 style="margin: 20px 0; padding-left: 100px; font-weight: bold; color: darkred; ">@ViewBag.CategoryName</h1>

<div class="product-list">
    @foreach (var p in Model)
    {
        <div class="product-item">

            <div class="product-image">
                <img src="~/Img/@p.ImageUrl" alt="@p.ProductName" />
            </div>

            <div class="product-info">
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@p.ProductID" class="product-name">@p.ProductName</a>
                <p><strong>Mô tả:</strong> @p.Description</p>
                <p><strong>Màu sắc:</strong> @p.Color</p>
                <p><strong>Kích thước:</strong> @p.Size</p>
                <p><strong>Còn lại:</strong> @p.Quantity sản phẩm</p>
                <p class="price"><strong>Giá:</strong> @p.Price.ToString("N0") VND</p>
            </div>

            <div class="product-buy">
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@p.ProductID" class="btn-buy">Xem sản phẩm</a>
            </div>

        </div>
    }
</div>